/*
Author: Edwin Ombego
Author URL: http://microvision.co.ke

*/
.main_panel
			{
			width:320px;
			height:460px;
			background-color:#333333;
			border-top-right-radius:15px;
			border-top-left-radius:15px;
			border-bottom-right-radius:15px;
			border-bottom-left-radius:15px;
			padding:20px;
			
			}
			.number_button
			{
			width:70px;
			height:70px;
			margin:10px;
			float:left;
			background-color:#CCCCCC;
			border-top-right-radius:9px;
			border-top-left-radius:9px;
			border-bottom-right-radius:9px;
			border-bottom-left-radius:9px;
			font-size:33px;
			font-color:#000000;
			text-align:center;
			}
			.number_button:hover
			{
			background-color:#666666;
			}
			.text_box
			{
			width:250px; 
			height:30px;
			font-size:24px;
			text-align:right;
			}
			.style4 {width: 70px; height: 70px; margin: 10px; float: left; background-color: #000000; border-top-right-radius: 20px; border-top-left-radius: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; font-size: 36px; font-color: #FFFFFF; text-align: center; color: #FFFFFF; }